@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-marine: #1B3A63;
  --color-terracotta: #9E2418;
  --color-orange: #E08A34;
  --color-creme: #F4E9DF;
  --color-creme-header: #EDE4D9;
  --color-texte-clair: #8A7C70;
  --color-bordure-claire: #C4B8AB;
}

body {
  background-color: var(--color-creme);
}